.modal-body {
    max-height: 100%;
}
.modal-header {
    padding: 5px;
    border: 0px;
}
.modal-content {
    background: #eee !important;
}
.form-group {
    margin-bottom: 0.3rem !important;
}

@media (min-width: 992px) {
    .modal-md {
        width: 100%;
        max-width: 1300px;
    }
}
.col-md-1 {
    width: 12.333333% !important;
}
.pf {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
label {
    display: contents !important;
    color: #050505;
}
.table input[type="text"] {
    width: 100%;
    padding: 0px;
    font-size: 13px;
    text-transform: uppercase;
}
label {
    display: contents !important;
    color: #050505;
}
.card-header, .card-block {
    padding: 5px !important;
}
.card {
    margin-bottom: 5px !important;
}